<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/usuarios">Usuarios</a></li>
                <li><a href="/recetas">Recetas</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>Recetario</h1>
        {% for receta in recetas %}
            {{ receta.titulo }}
            {% for comentario in receta.comentario_set.all %}
                {{ comentario.texto }}
            {% endfor %}
        {% endfor %}
    </section>
</body>
</html>