{% extends 'base.html' %}
{% block titulo %}Recetas{% endblock %}
{% block contenido %}
    <h1>Recetas registradas {% now 'SHORT_DATE_FORMAT' %}</h1>
    <ul>
        {% for receta in recetas %}
            <li>
                <a href="{% url principal.views.detalle_receta receta.id %}">{{ receta.titulo }}</a><br />
                <img src="{{ MEDIA_URL }}{{ receta.image }}">
            </li>
        {% endfor %}
    </ul>
{% endblock %}


{% block js %}
    <script type="text/javascript">
        $(document).ready(function(){
            alert('El documento esta totalmente cargado');
        });
    </script>
{% endblock %}